miner.bbprojectd/tobynelson.bbprojectsettings
miner1.sym
miner1.txt
miner2.sym
miner2.txt
miner3.sym
miner3.txt
miner4.sym
miner4.txt
new/miner1
new/miner2
new/miner3
new/miner4
NEWMINER.ssd
NEWMINER.ssd.dsk
